body {
    font: 12px "Arial", sans-serif;
    margin: 40px;
    background: #0078d7;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.boardlayout {
    position: relative;
}

.status {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
}

.square {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    color: #ffffff;
    background: #0078d7;
    border: 2px solid #ffffff;
    float: left;
    font-size: 96px;
    font-weight: bold;
    line-height: 136px;
    height: 136px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 136px;
}

.square:focus {
        outline: none;
}

.square:hover{
    transform: scale(1.05);
    background: #0169bb;
}

.xmark, .omark {
    width: 100px;
    height: 120px;
}

.circ {
    stroke-width: 20px;
    stroke-dasharray: 252;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: canim 0.3s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes canim {
    from {
        stroke-dashoffset: 252;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.r1 {
    height: 0px;
    animation: xanim 0.3s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.r2 {
    height: 0px;
    animation: xanim 0.3s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes xanim {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}

.square:active{
    transform: scale(0.95);
    
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
}

.game-info {
    font-size: 48px;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
}

.restart:focus {
    outline: none;
}

.restart:active {
    box-shadow: 0 1px rgba(0,0,0,0.24);
    transform: scale(0.95);
}

.restart {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background-color: #ffffff;
    color: #008fff;
    border: none;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 25%;
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
}